:root{
    --dark-red: #885053;
    --red: #FE5F55;
    --blue: #7da8fd;
    --mid-green: #94C9A9;
    --lime: #C6ECAE;
    --dark-blue: #42497f;
}
*{
    margin: -1;
    padding: -1;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p{
    margin: 20px 80px;
    text-align: justify;
}

input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit]{
    min-width: 80px;
    background-color: var(--dark-blue);
    color: white;
    border-bottom: none;
}
input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--blue);
}

input:focus{
    outline: none;
}

/*Estilo do header geral*/
.header{
    overflow: hidden;
    background-color: var(--blue);
    height: 45px;
    padding: 20px 10px;
}

/*Estilo dos links*/
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    margin: 3px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/*Estilo do Logo*/
.header .logo {
    margin: 5px;
}

/*Estilo do hover*/
.header a:hover {
    background-color: #ddd;
    color: black;
}

/*Estilo do link ativado*/
.header a.active {
    background-color: #FFF;
    color: black;
}

/*Alinhamento dos links*/
.header-right {
    float: right;
}

.icon{
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.icon.trash {
    font-size: 22px;
}

.icon.trash:hover {
    color: var(--red);
}
.profile{
    display: flex;
    justify-content: center;
}
.mySlides{
    width: 100%;
    display: none;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 650px;
    object-fit: fill;
}

.slideshow{
    position: relative;
    display: flex;
}

.slide-button{
    position: absolute;
    display: inline-block;

    color: #000;
    background-color: var(--blue);
    border: none;
    overflow: hidden;
    padding: 5px;
    height: 30px;
    width: 30px;
}

.slide-button:hover{
    background-color: #ccc;
}

.display-left{
    top: 50%;
    left: 0%;
    margin-left: 10px;
    -ms-transform:translate(-0%,-50%); 
}

.display-right{
    top: 50%;
    right: 0%;
    margin-right: 10px;
    -ms-transform:translate(-0%,-50%);   
}

.product-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.product{
    display: flex;
    flex-direction: column;

    padding: 2%;
    flex: 1 21%;
}

.product-img img{
    max-width: 350px;
    max-height: 500px;
    max-width: 100%;
}

.product-info{
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}
.product-info p{
    margin: 10px 20px;
}
@media (max-width: 600px){
    .product{
        flex: 1 46%;
    }
}

.center{
    text-align: center;
}

.left{
    float: left;
    margin-left: 30px;
}

.right{
    float: right;
    margin-right: 30px;
}

.footer{
    background-color: var(--dark-blue);
    height: 300px;
    width: 100%;
    color: white;
    margin-top: 50px;
    padding: 0 auto;
}

.footer ul{
    height: 200px;
    width: 200px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.footer li{
    width: 100%;
    margin: 1px;
    transition: all .2s ease-in-out;
}

.footer li:hover{
    transform: scale(1.2);
}

.footer a{
    color: white;
    text-decoration: none;
   
}

.footer a:hover{
    /*color: black;
    background-color: #aaa;
    border-radius: 1px;*/
    text-decoration: none;
}

.cart{
    width: 80%;
    margin: 30px auto;
}

.cart-product{
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cart-product-img{
    height: 100%;
    margin: 0 auto;
}

.cart-product-img img{
    height: 80px;
}

.cart-product-info{
    width: 80%;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.cart-product-details{
    width: 20%;
}

.profile{
    height: 400px;
    width: 50%;
    margin: 10px auto;
    padding: 0 5%;
    text-align: center;
}

.small{
    width: 150px;
}
.center{
    margin: 0 auto;
}
.signup, .login{
    margin: 0 30px;
}
.search-box{
    display: inline-block;
    background-color: var(--blue);
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 50px;
    background-color: #fff;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

.search-btn{
    color: #574945;
    float: right;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
    background-color: var(--blue);
}

.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: rgb(0, 0, 0);
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}
.book-details{
    width: 70%;
    height: 500px;
    align-items: center;
    display: flex;
    border: 4px solid black;
    margin: 30px auto;
}
.book-cover img{
    width: 50%;
    padding: 40px;
}
.book-details-info{
    color: white;
}
.login input, .signup input{
    min-width: 100px;
}
#center-circle{
    background-color: inherit;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0 auto;
    top: -50px;
    text-align: center;
    display: flex;
}

#center-circle img{
    height: 80px;
    width: 80px;
    margin: 10px;
}

#about{
    margin: 20px 100px 100px;
    border: 2px solid var(--blue);
    border-radius: 20px;
}

#about h2{
    text-align: center;
}

#scroll-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
}

#scroll-button:hover {
    background-color: #555;
}

/* Responsividade do tamanho da tela: No mobile, os links se empilham*/
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    p{
        margin: 20px;
    }
    #about{
        margin: 20px 20px;
    }
}